.App {
  text-align: center;
}

.card-container {
  margin: 5% 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-right: 1%;
}

.ticker-title {
  color: #1452ff;
  font-weight: 600;
}